<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="box">
        <form action="result" method="post">
            <div class="row">
                <label for="name">Your Name:</label>
                <input type="text" name="name" />
            </div>
            <div class="row">
                <label for="location">Dojo Location:</label>
                <select name="location">
                    <option value="Dallas">Dallas</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Tulsa">Tulsa</option>
                </select>
            </div>
            <div class="row">
                <label for="language">Favorite Language:</label>
                <select name="language">
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="row">
                <label for="comment">Comments(optional):</label>
                <textarea name="comment" rows="6"></textarea>
            </div>
            <input type="submit" />
        </form>
    </div>
</body>
</html>