@{
    ViewData["Title"] = "Login/Registration";
}

@using SimpleLogReg.Models
@model IndexModels

<div class="col-5 d-inline-block p-5">
    <h1>Register</h1>
    <partial name="RegisterPartial"/>
</div>
<div class="col-5 d-inline-block p-5 align-top">
    <h1>Login</h1>
    <partial name="LoginPartial" />
</div>