@{
    ViewData["Title"] = "New User Registration";
}

@using BankAccount.Models;
@model User

<h1 class="col-5 text-center p-5">Register</h1>
<form asp-action="create" asp-controller="Home" method="post">
    <div>
        <label class="col-2" asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label class="col-2" asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div>
        <label class="col-2" asp-for="Email"></label>
        <input asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="col-2" asp-for="Password"></label>
        <input asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="col-2" asp-for="Confirm"></label>
        <input asp-for="Confirm" />
        <span class="text-danger" asp-validation-for="Confirm"></span>
        <a href="/login">Already Registered?</a>
    </div>
    <input class="btn btn-primary mx-3" type="submit" />
</form>
