<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a class="active" href="/contact">Contact</a>
        </div>
        <h1>Contact Me!</h1>
        <div id="leftcon">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email"/>
            </div>
        </div>
        <div id="rightcon">
            <label for="message">Message</label>
            <textarea name="message" rows="4"></textarea>
            <input type="submit" value="Send" />
        </div>
    </body>
</html>