<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="navbar">
            <a class="active" href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <h1>Home</h1>
        <div id="left">
            <img src='@Url.Content("~/images/placeholder.png")'>
            <h3>Solon Burleson</h3>
            <h4>I like stuff!</h4>
        </div>
        <div id="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum turpis ut ligula vestibulum luctus. Ut ornare venenatis eros aliquet lobortis. In eu accumsan libero. Donec feugiat cursus sem, eget eleifend magna semper sed. Etiam quis ipsum at mauris laoreet mollis vitae sit amet odio.</p>
        </div>
    </body>
</html>